<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>disableAnnotations</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>org.utn.util.AppContextListener</listener-class>
    </listener>

    <!-- Static files configuration (DefaultServlet) -->
    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <!-- Serve static files from /webapp directory -->
        <init-param>
            <param-name>docBase</param-name>
            <param-value>/webapp</param-value> <!-- Путь для static контента, он теперь внутри webapp -->
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/</url-pattern> <!-- Все запросы идут сюда, включая статические файлы -->
    </servlet-mapping>

    <!-- Welcome page configuration -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file> <!-- Указываем, что index.html будет главной страницей -->
    </welcome-file-list>


    <!--  CurrencyServlet -->
    <servlet>
        <servlet-name>CurrencyServlet</servlet-name>
        <servlet-class>org.utn.controller.CurrencyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrencyServlet</servlet-name>
        <url-pattern>/currencies</url-pattern> <!-- to get all currencies / create a new currency -->
        <url-pattern>/currency/*</url-pattern> <!-- to get some currency -->
    </servlet-mapping>

    <servlet>
        <servlet-name>ExchangeRatesServlet</servlet-name>
        <servlet-class>org.utn.controller.ExchangeRatesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExchangeRatesServlet</servlet-name>
        <url-pattern>/exchangeRates</url-pattern> <!-- get all exchange rates -->
        <url-pattern>/exchangeRates/*</url-pattern> <!-- add a new exchange rate -->
    </servlet-mapping>


    <!--  get some Exchange Rate  -->
<!--    <servlet>-->
<!--        <servlet-name>ExchangeRateServlet</servlet-name>-->
<!--        <servlet-class>org.utn.controller.ExchangeRateServlet</servlet-class>-->
<!--        <load-on-startup>1</load-on-startup>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>ExchangeRateServlet</servlet-name>-->
<!--        <url-pattern>/exchangeRate/*</url-pattern>-->
<!--    </servlet-mapping>-->


    <!--  PathExchangeRateServlet -->
    <servlet>
        <servlet-name>PatchExchangeRateServlet</servlet-name>
        <servlet-class>org.utn.controller.PatchExchangeRateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatchExchangeRateServlet</servlet-name> <!-- update exchange rate -->
        <url-pattern>/exchangeRate/*</url-pattern>
    </servlet-mapping>

    <!--  TradeExchangeRateServlet -->
    <servlet>
        <servlet-name>TradeExchangeRateServlet</servlet-name>
        <servlet-class>org.utn.controller.TradeExchangeRateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>TradeExchangeRateServlet</servlet-name>
        <url-pattern>/exchange</url-pattern><!-- trade exchange rate -->
    </servlet-mapping>

</web-app>
